phantoms/PHANTOM_slab_entrance_10mm.mat
scenarios/alderson01.mat
scenarios/alderson01MC.mat
scenarios/liver01.mat
scenarios/lung01.mat
scenarios/lung01MC.mat
scenarios/lung02.mat
scenarios/prostate01.mat
scenarios/slab01.mat
scenarios/slab01MC.mat
*.asv
scenarios/resultLung01.mat
